$weather-background-path: '../../assets/images/weather-backgrounds/';

body{
  background-size: cover;
  background-attachment: fixed;
}

body.bg-clear{
  background-image: url($weather-background-path + "clear.jpg");
}

body.bg-clouds{
  background-image: url($weather-background-path + "clouds.jpg");
}
body.bg-drizzle{
  background-image: url($weather-background-path + "drizzle.jpg");
}

body.bg-rain{
  background-image: url($weather-background-path + "rain.jpg");
}

body.bg-thunderstorm{
  background-image: url($weather-background-path + "thunderstorm.jpg");
}

body.bg-snow{
  background-image: url($weather-background-path + "snow.jpg");
}

body.bg-mist,
body.bg-smoke,
body.bg-haze,
body.bg-dust,
body.bg-fog,
body.bg-sand,
body.bg-ash,
body.bg-squall,
body.bg-tornado{
  background-image: url($weather-background-path + "mist.jpg");
}