$weather-background-path: '../../assets/images/weather-backgrounds/';

body{
  background-size: cover;
  background-attachment: fixed;
}

body.bg-clear-sky{
  background-image: url($weather-background-path + "clear_sky.jpg");
}

body.bg-few-clouds{
  background-image: url($weather-background-path + "few_clouds.jpg");
}

body.bg-scattered-clouds{
  background-image: url($weather-background-path + "scattered_clouds.jpg");
}

body.bg-broken-clouds{
  background-image: url($weather-background-path + "broken_clouds.jpg");
}

body.bg-shower-rain{
  background-image: url($weather-background-path + "shower_rain.jpg");
}

body.bg-rain{
  background-image: url($weather-background-path + "rain.jpg");
}

body.bg-rain{
  background-image: url($weather-background-path + "rain.jpg");
}

body.bg-thunderstorm{
  background-image: url($weather-background-path + "thunderstorm.jpg");
}

body.bg-snow{
  background-image: url($weather-background-path + "snow.jpg");
}

body.bg-mist{
  background-image: url($weather-background-path + "mist.jpg");
}