body{
  background-size: cover;
  background-attachment: fixed;
}

body.bg-clear-sky{
  background-image: url("../../assets/images/weather-backgrounds/clear_sky.jpg");
}

body.bg-few-clouds{
  background-image: url("../../assets/images/weather-backgrounds/few_clouds.jpg");
}

body.bg-scattered-clouds{
  background-image: url("../../assets/images/weather-backgrounds/scattered_clouds.jpg");
}

body.bg-broken-clouds{
  background-image: url("../../assets/images/weather-backgrounds/broken_clouds.jpg");
}

body.bg-shower-rain{
  background-image: url("../../assets/images/weather-backgrounds/shower_rain.jpg");
}

body.bg-rain{
  background-image: url("../../assets/images/weather-backgrounds/rain.jpg");
}

body.bg-rain{
  background-image: url("../../assets/images/weather-backgrounds/rain.jpg");
}

body.bg-thunderstorm{
  background-image: url("../../assets/images/weather-backgrounds/thunderstorm.jpg");
}

body.bg-snow{
  background-image: url("../../assets/images/weather-backgrounds/snow.jpg");
}

body.bg-mist{
  background-image: url("../../assets/images/weather-backgrounds/mist.jpg");
}