@use '../abstract/mixins';
@use '../abstract/animations';

.all{
  padding-bottom: 11rem;
  background-color: rgba(#ffffff, .8);
  @include mixins.for-size(tablet-up){
    padding-bottom: 0;
  }

  @include animations.animate;
  @include animations.fadeIn;
}