@use "../abstract/mixins";
@use "../abstract/animations";

.weather{
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: 0 auto;

  @include mixins.for-size(tablet-up){
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    gap: 1rem;
  }
}

.weather > * {
  @include animations.animate;
  @include animations.fadeIn;
}

.weatherLocation{
  margin-bottom: 1.5rem;
  @include mixins.for-size(tablet-up){
    flex: 1 0 0;
    margin-bottom: 2rem;
  }
}

#mainTemperature{
  margin: 0 auto 2rem;
}