
.instructions__image{
  width: 247px;
  height: 240px;
  background-image: url("./../assets/images/illustrations/search_location.svg");
  margin: auto;
}

.instructions__text{
  text-align: center;
  line-height: 1.6em;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

