/* Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
/* Custom properties */
:root {
  /* Colors */
  --black: #333333;
  --white: #fefefe;
  /* Typography */
  --font-principal: "Montserrat", Helvetica, Arial, sans-serif;
  --font-secundary: Verdana;
}

/* Dark mode */
/* Sharp contrast */
@media (prefers-contrast: high) {
  :root {
    --black: #000000;
    --white: #ffffff;
  }
}
/* Disable animations */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
/* Reset default styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*::before, *::after {
  display: block;
}

/* Solve images problems */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

/* links to box */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... Except the links in paragraphs */
p a {
  display: inline;
}

/* Delete list styles */
li {
  list-style-type: none;
}

/* Soft anchors */
html {
  scroll-behavior: smooth;
}

/* Text styles */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Solving problems with pseudo-elements of quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

/* Text selection */
::selection {
  background-color: var(--black);
  color: var(--white);
}

/* Forms and input controls */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
}

/* Tables */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* HTML and body */
html {
  min-height: 100%;
}

body {
  min-height: 100%;
  font-size: 100%;
  font-family: var(--font-principal);
  color: var(--black);
  background-color: var(--white);
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.mainHeader {
  padding: 1rem;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.mainHeader__title {
  color: var(--black);
  font-weight: 700;
}

.mainHeader__linkIcon {
  font-size: 24px;
}

.mainHeader__linkText {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.searcher {
  background-color: var(--white);
  box-shadow: 0 -4px 4px 0 rgba(0, 0, 0, 0.25);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  z-index: 10;
}
@media (min-width: 768px) {
  .searcher {
    position: static;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-top: 1px solid rgba(51, 51, 51, 0.2);
  }
}

.searcher__form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
@media (min-width: 768px) {
  .searcher__form {
    flex-wrap: nowrap;
    align-items: end;
  }
}

.searcher__div {
  width: 100%;
}
@media (min-width: 768px) {
  .searcher__div {
    flex: 1 0 0;
  }
}

.searcher__label {
  font-weight: bold;
  margin-bottom: 1rem;
}

.searcher__input {
  border: 1px solid rgba(51, 51, 51, 0.6);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  width: 100%;
}

.searcher__button {
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 8px;
  display: flex;
  flex: 1 0 0;
  order: 3;
  border-radius: 5px;
  background: #EA724F;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
}

.searcher__button--currentLocation {
  flex: 0 0 0;
  background: #385BEB;
  order: 2;
}
@media (min-width: 768px) {
  .searcher__button--currentLocation {
    order: 3;
  }
}

.searcher__button .bx {
  font-size: 24px;
}

.weather {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem;
}

.weatherLocation {
  margin-bottom: 1.5rem;
}

.temperature {
  margin: 0 auto 2rem;
}

.weatherLocation {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.weatherLocation__name {
  flex: 1 0 0;
  color: var(--black);
  font-size: 1.2rem;
  font-weight: bold;
}
@media (min-width: 768px) {
  .weatherLocation__name {
    order: 2;
  }
}

.weatherLocation__iconContainer {
  max-width: 100px;
}

.temperature {
  max-width: 328px;
}

.temperature__list {
  position: relative;
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  background-color: var(--white);
}

.temperature__item {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  flex: 1 0 0;
  border-right: 1px solid rgba(51, 51, 51, 0.3);
}
.temperature__item:last-child {
  border-right: 0;
  border-left: 1px solid rgba(51, 51, 51, 0.3);
}

.temperature__degrees {
  font-size: 1.5rem;
  font-weight: bold;
}

/*# sourceMappingURL=main.css.map */
